<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Glowing-eureka</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('glowing-eureka.products')}}">Products</a>
                </li>
                {%if auth != None%}
                    {%if auth.level >= 1%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('glowing-eureka.newProduct')}}">New Product</a>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                {%endif%}
            </ul>
            {%if auth == None%}
            <a href="{{url_for('glowing-eureka.login')}}" class="btn btn-outline-success" type="submit">Log in</a>
            {%else%}
            <a href="{{url_for('glowing-eureka.logout')}}" class="btn btn-outline-success" type="submit">Log out</a>
            {%endif%}
        </div>
    </div>
</nav>