<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Glowing-eureka</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('glowing-eureka.products')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('glowing-eureka.categories')}}">Categories</a>
                </li>
                {%if auth != None%}
                    {%if auth.level >= 1%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{{url_for('glowing-eureka.newProduct')}}">New Product</a></li>
                            <li><a class="nav-link" href="{{url_for('glowing-eureka.newCategory')}}">New Category</a></li>
                            {%if auth.level >= 2%}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link" href="{{url_for('glowing-eureka.users')}}">Users</a></li>
                            {%endif%}
                        </ul>
                    </li>              
                    {%endif%}
                {%endif%}
            </ul>
            <form role="search" action="{{url_for('glowing-eureka.products')}}" method="get" style="margin-bottom: 0px;margin-right:auto">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Product title" aria-describedby="button-addon2" value="{{phrase}}">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>        
            {%if auth == None%}
            <a href="{{url_for('glowing-eureka.login')}}" class="btn btn-outline-success" type="submit">Log in</a>
            {%else%}
            <a href="{{url_for('glowing-eureka.logout')}}" class="btn btn-outline-success" type="submit">Log out</a>
            {%endif%}
        </div>
    </div>
</nav>