<html>
    {%include "head.html"%}
    <body>
        {%include "navbar.html"%}
        <main class="row row-cols-1 row-cols-md-3 g-4">
            {%for product in products%}
            <div class="col">
                <div class="card">
                    {%if product.imageURL != None %}
                    <img src="{{product.imageURL}}" class="card-img-top" alt="...">
                    {%endif%}
                    <div class="card-body">
                        <a href="./{{product.id}}"><h5 class="card-title">{{product.title}}</h5></a>
                        {%if product.description != None%}
                        <p class="card-text">{{product.description}}</p>
                        {%endif%}
                    </div>
                </div>
            </div>            
            {%endfor%}
        </main>
    </body>
</html>