<html>
    {%include "head.html"%}
    <body>
        {%include "navbar.html"%}
        <main>
            <div class="card">
                {%if product.imageURL != None %}
                <img src="{{product.imageURL}}" class="card-img-top">
                {%endif%}
                <div class="card-body">
                    <h3 class="card-title">
                        {{product.title}}
                        <form action="{{url_for('glowing-eureka.deleteProduct', id=product.id)}}" method="POST" style="display: inline-block;">
                            <button type="submit" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                        </form>
                        <a href="{{url_for('glowing-eureka.editProduct', id=product.id)}}" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                    </h3>
                    
                    {%if product.description != None%}
                    <p class="card-text">{{product.description}}</p>
                    {%endif%}
                    <div class="card">
                        <div class="card-header">
                            Comments
                        </div>
                        <ul class="list-group list-group-flush">
                            {%for comment in comments%}
                                {%if not comment.isDeleted%}
                                <li class="list-group-item" id="{{comment.id}}">
                                    <div style="display: inline-block;">
                                        <span id="commentText">{{comment.description}}</span> | <span id="commentDate">{{comment.creationDate}}</span>
                                    </div>
                                    {%if user != None%}
                                        {%if comment.userId == user.id%}
                                        <form action="{{url_for('glowing-eureka.deleteComment', id=product.id)}}" method="POST" style="display: inline-block;">
                                            <input type="hidden" value="{{comment.id}}" name="commentId">
                                            <button type="submit" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                                        </form>
                                        <button type="button" class="btn btn-outline-warning btn-sm" onclick="editBox(this)"><i class="bi bi-pencil-square"></i></button>
                                        {%endif%}
                                    {%endif%}
                                </li>
                                {%endif%}
                            {%endfor%}
                            {%if auth != None%}
                            <li class="list-group-item">
                                <form action="{{url_for(request.endpoint, id=product.id)}}/comment" method="POST">
                                    <input type="text" class="form-control" name="commentInput" placeholder="Your comment here...">
                                </form>
                            </li>
                            {%endif%}
                        </ul>                        
                        
                        
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="{{url_for('static', filename='product.js')}}"></script>
</html>