<html>
    {%include "head.html"%}
    <body>
        {%include "navbar.html"%}
        <main class="row row-cols-1 row-cols-md-3 g-4">
            {%for product in products%}
            <div class="col">
                <div class="card">
                    {%if product.imageURL != None %}
                    <img src="{{product.imageURL}}" class="card-img-top" alt="...">
                    {%endif%}
                    <div class="card-body">
                        <a href="./{{product.id}}"><h5 class="card-title">{{product.title}}</h5></a>
                        {%if product.description != None%}
                        <p class="card-text">{{product.description}}</p>
                        {%endif%}
                    </div>
                </div>
                <div>
                    {%if page > 0%}
                    <a href=".&page={{page - 1}}/" class="btn"><i class="bi bi-arrow-bar-left"></i></a>    
                    {%endif%}
                    {%if next%}
                    <a href=".&page={{page + 1}}" class="btn"><i class="bi bi-arrow-bar-right"></i></a>            
                    {%endif%}
                </div>
            </div>            
            {%endfor%}
        </main>
    </body>
</html>